/* Container für die gesamte Listenübersicht */
.list-selection-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  padding: 10px;
  background-color: #ceb4b4;
  border-radius: 5px;
}

/* Eingabefeld für neue Listen */
.list-selection-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Dropdown für Listentypen */
.list-selection-select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

/* Button zum Hinzufügen einer neuen Liste */
.list-selection-add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

.list-selection-add-button:hover {
  background-color: #0056b3;
}

/* Einzelne Listen-Buttons */
.list-selection-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
}

.list-selection-item button {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.list-selection-item .select-button {
  flex: 1; /* Nimmt den verfügbaren Platz ein */
  text-align: left; /* Text linksbündig ausrichten */
  padding: 8px 12px;
  border-radius: 5px;
  background-color: white;
  color: rgb(61, 59, 59);
  border: 1px solid #ddd;
  margin-right: 10px; /* Abstand zum Delete-Button */
}

.list-selection-item .select-button.selected {
  background-color: lightblue;
}

.list-selection-item .delete-button {
  flex-shrink: 0; /* Verhindert, dass der Button schrumpft */
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0;
}

.list-selection-item .delete-button:hover {
  background-color: darkred;
}